*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.input_new_task{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #19bfe6;
    font-size: 25px;
}

.input_new_task input{
    width: 50%;
    height: 50px;
    font-size: 20px;
}

.input_new_task textarea{
    font-size: 20px;
}

.input_new_task button, .task button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.input_new_task .btn_add_new-taks{
    background-color: #00e3ff;
    color: #0011ff;
    padding: 20px;
    border-radius: 24px;
}

.input_new_task .btn_add_new-taks:disabled{
    color: #8b8b8b;
    background-color: #ddd;
}

.input_new_task .delete_tasks-taks{
    color: red;
    background-color: #fff;
    padding: 20px;
    border-radius: 24px;
}

.tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    align-items: center;
    justify-items: center;
}

.task{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #d4d3d3;
    word-break: break-all;
}

.nameTask{
    padding: 15px 5px;
}

.descTask{
    font-size: 20px;
    background-color: #e9e9e9;
    height: 20%;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover{
    color: red;
}

.btn_change{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 15px;
}

.btn_change:hover{
    background-color: #ddd;
}

.btn_save_change{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn_save_change:hover{
    color: rgb(2, 168, 2);
    border-radius: 24px;
}